@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font: normal 100%/1.5;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

    background-color: #e7e5d9;
    color: #000;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.masthead {
	background: transparent url("../images/masthead-bg.png") repeat left center;
	text-align: center;
}

.title {
	display: inline-block;
	background-color: #e7e5d9;
	text-shadow: 3px 3px 0 #c2c2c2;
}

.logo1 {
    float: right;
    margin: 0 5px 0 0;
    width: 2rem;
}

.logo2 {
    float: left;
    margin: 0 5px 0 0;
    width: 2rem;
}